.Fonttin{
    line-height: 1.5 !important;
}
.Justing{
    padding: 50px 0px;
}
.Justi{
    padding: 50px 0px 30px 0;
}
.Justig{
    padding: 0px 0px 80px 0;
}
.Jusyyy{
    width: 84% !important;
    margin-top: -50px;
}
@media (max-width: 768px) {
    .Amenn{
        display: none !important;
    }
    
}