@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #0a0a0a;
  background: rgba(241, 241, 242, 1);
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1280px) {
  .clip-diagonal {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  }
}

.custom-scrollbar:hover {
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}

/* Chrome, Safari, Edge - Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 10px; /* Rounded track edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded thumb */
  border: 3px solid transparent; /* Padding around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change thumb color on hover */
}

.pending {
  background-color: rgba(187, 193, 5, 0.2);
  color: rgba(187, 193, 5, 1);
}

.active,
.open {
  background-color: rgba(5, 193, 104, 0.2);
  color: rgba(20, 202, 116, 1);
}
