@import "tailwindcss";
@import "app.css";

@plugin "daisyui" {
    root: "#root";
    themes: kudu --default;
}

@config '../tailwind.config.js';

@plugin "daisyui/theme" {
    name: "kudu";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(76.5% 0.224 35.059);
    --color-primary-content: oklch(97% 0 0);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(40% 0.123 38.172);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.01 67.558);
    --color-neutral-content: oklch(92% 0.003 48.717);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(39% 0.09 240.876);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(39% 0.141 25.723);
    --color-background: oklch(100% 0 0);
    --color-foreground: oklch(10% 0 0);
    --color-kuduOrange: oklch(76.5% 0.224 35.059);
    --color-kuduOrangeFade: oklch(76.5% 0.224 35.059 / 0.7);
    --color-kuduGray: oklch(55.5% 0 0);
    --color-kuduLightBlue: oklch(94.3% 0 0);
    --color-kuduOrange500: oklch(79.7% 0.242 23.548);
    --color-kuduPeach: oklch(95.6% 0.066 26.517);
    --color-kuduGrayPeach: oklch(93.6% 0 0);
    --color-kuduDarkBlue: oklch(23.3% 0.033 265.816);
    --color-kuduSkyBlue: oklch(86.8% 0.099 210.916);
    --color-kuduGreen: oklch(66.7% 0.225 147.458);
    --color-kuduRed: oklch(71.1% 0.466 18.664);
    --color-kuduDarkGrey: oklch(24.4% 0 0);
    --color-kuduLightGray: oklch(96.2% 0 0);
    --color-kuduTableGrey: oklch(96.2% 0 0);
    --color-kuduRomanSilver: oklch(44.8% 0 0);
    --color-kuduDarkFade: oklch(82.5% 0 0);
    --color-kuduPink: oklch(89.1% 0.179 347.009);
    --color-kuduStrayBlue: oklch(76.4% 0.166 258.391);
    --color-kuduOrangeLight: oklch(95.7% 0.068 27.831);
    --color-kuduPurple: oklch(86.4% 0.167 316.37);
    --color-kuduLightGreen: oklch(84.2% 0.163 127.818);
    --color-kuduBlue: oklch(57.3% 0.274 241.614);
    --color-kuduMade: oklch(96.2% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
